.container{
    width:100%;
    text-align: center;
}
button{
    font-size: 20px;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: #008CBA;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }